# Listas

- Criação de Listas e Acesso aos Elementos
- Alteração da Lista
- Funções, Operadores e Metódos

Em Python, uma lista (list) é um a sequência ordernada de valores, e que são identificados por um indice.
Estes valores, que compõe uma lista, são chamados de elementos ou itens.

Listas são estruturas de dados muitos similares a string, que por sua vez são sequência de caracteres, apenas.

A Diferença é que os elementos de uma lista podem ser de qualquer tipo, ou seja, podem ser homogêneos (todos os valores são do mesmo tipo) e heterogêneos(valores com tipos distintos).


Diferentemene das strings, uma lista é tambem uma sequencia mutavel e dinâmica:

- Alterar o Valor de um ou mais elementos
- Os elementos podem ser adicionados, removidos, ou substituídos
- A order dos elementos podem ser alterada.

---

# Criação das listas e Acesso aos elementos

## Criação de uma lista

In [37]:
lista = []
lista 
type(lista)

list

In [38]:
listadomercado = ["ovo, farinha, leite, maça"]

In [39]:
print(listadomercado) # imprimindo a lista

['ovo, farinha, leite, maça']

In [40]:
listadomercado2 = ['ovos', 'farinha', 'leite', 'maças'] # criando outra lista

In [41]:
print (listadomercado2)

['ovos', 'farinha', 'leite', 'maças']

In [42]:
lista3 = [12 , 100.0, 'Universidade']

In [43]:
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [44]:
print (item1, item2, item3)

print(type(item1))
print(type(item2))
print(type(item3))

12 100.0 Universidade
<class 'int'>
<class 'float'>
<class 'str'>

# Atualizando um item da lista

In [45]:
listadomercado2[2]

'leite'

In [46]:
listadomercado2[2] = "chocolate"

In [47]:
listadomercado2

['ovos', 'farinha', 'chocolate', 'maças']

In [48]:
listadomercado2

['ovos', 'farinha', 'chocolate', 'maças']

# Funções, Operadores e Metódos

## Listas de Listas (Linhas Aninhadas)

In [49]:
listas = [[1,2,3] , [10,15,14] , [10.1,8.7, 3]]

In [50]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 3]]

In [51]:
a = listas[0]

In [52]:
a

[1, 2, 3]

In [53]:
b = a [0]

In [54]:
b

1

In [55]:
c = listas [2]
c

[10.1, 8.7, 3]

In [56]:
exemplo = ['um' , 'dois', None, 4]

In [57]:
exemplo

['um', 'dois', None, 4]

# Concatenando Listas

In [58]:
lista_s1 = [34, 32, 56]

print(lista_s1)

[34, 32, 56]

In [59]:
lista_s2 =[21, 90, 51]

lista_s2

[21, 90, 51]

In [60]:
lista_tota = lista_s1 + lista_s2

lista_tota

[34, 32, 56, 21, 90, 51]

# Exercicio Operações basicas

1. Crie uma lista chamado `numeros` contando os numeros 10, 20, 30, 40, 50

2. Acessar e inprimir o primeito elemento e o ultimo elemento da usando indicas

3. Substituir o valor do terciceiro elemento por 100 e imprimir a lista 

4. Adicionar o numuro 60, no final da lista, usando concateção

5. Crie uma nova lista, chamada `novos_numeros` contando os valores 70, 80, 90 e concatenar com a lista numeros.

6. Imprimir o tamanho total da lista resultante

7. Criuma `list` chamada pares, que contenha apenas os números pares da lists `numeros`(use um loop para ver) suando o operador `%`

In [61]:
lista = [2, 'a', 5.44, True, None, 'casa']

print(lista[0])
print(lista[3])
print(lista[-3])
print(lista[1:5])

2
True
True
['a', 5.44, True, None]

In [62]:
lista_numeros = [10, 20, 30, 40, 51]

print(lista_numeros[0])
print(lista_numeros[-1])

lista_numeros[2] = 100

novo_numeros_lista = [60]
novos_numeros = [70, 80, 90]

lista_numeros = lista_numeros + novo_numeros_lista + novos_numeros


gantos_numeros = len(lista_numeros)

for i in range(gantos_numeros):
    print(lista_numeros[i])

for i in range(gantos_numeros):
    if (lista_numeros[i] % 2 == 0):
        print('O valor par da lista de numeros é:',lista_numeros[i])

10
51
10
20
100
40
51
60
70
80
90
O valor par da lista de numeros é: 10
O valor par da lista de numeros é: 20
O valor par da lista de numeros é: 100
O valor par da lista de numeros é: 40
O valor par da lista de numeros é: 60
O valor par da lista de numeros é: 70
O valor par da lista de numeros é: 80
O valor par da lista de numeros é: 90

In [1]:
aluno = [21, 31, 34, 29, 24, 25, 22, 17, 16, 17, 34, 38, 34]


element = len(aluno)

for j in range(element):
    for k in range(element):
        if aluno[j] < aluno[k]:
            troca = aluno[j]
            aluno[j] = aluno[k]
            aluno[k] = troca

print(f"O aluno com a menor idade é:{aluno[0]} \nO aluno com a maior idade é:{aluno[-1]}")

O aluno com a menor idade é:16
O aluno com a maior idade é:38

# Alteração de `list`

In [64]:
lista = [2, 'a', 'd', 'c', 5.44, True]

print(lista)

[2, 'a', 'd', 'c', 5.44, True]

In [65]:
lista.append(999)

print(lista)

lista.remove('a')

print(lista)

[2, 'a', 'd', 'c', 5.44, True, 999]
[2, 'd', 'c', 5.44, True, 999]

In [66]:
l1 = [30, 10, 20]
l2 = [2 ,'a', 5.44, True]

# Funcoes

print( len(l2) )
print( sum(l1) )
print( max(l1) )

4
60
30

In [74]:
l2.reverse()
print( l2 )

l1.extend([10, 20, 30, 40])
print( l1 )

l1.sort()
print(l1)

l2.insert(2,'novo valor')
print(l2)

l2.pop()
print(l2)

l2.clear()
print(l2)

print(l1.index(40))

print(l1.count(10))

[]
[10, 10, 10, 10, 10, 10, 10, 10, 20, 20, 20, 20, 20, 20, 20, 20, 30, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 40, 40, 10, 20, 30, 40]
[10, 10, 10, 10, 10, 10, 10, 10, 10, 20, 20, 20, 20, 20, 20, 20, 20, 20, 30, 30, 30, 30, 30, 30, 30, 30, 30, 40, 40, 40, 40, 40, 40, 40, 40]
['novo valor']
[]
[]
27
9