# Exercícios Básicos de Pandas: DataFrames

## Preparação

Execute a célula abaixo para importar a biblioteca Pandas. Para os exercícios envolvendo Excel (`.xlsx`), você precisará ter a biblioteca `openpyxl` instalada (`pip install openpyxl`).

In [1]:
import pandas as pd

# Certifique-se de ter pandas instalado: !pip install pandas
# Para exercícios de Excel, instale: !pip install openpyxl

print(f"Pandas importado com sucesso. Versão: {pd.__version__}")

Pandas importado com sucesso. Versão: 2.2.3

In [2]:
! pip install pandas
! pip install openpyxl

import pandas as pd

Requirement already satisfied: pandas in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

---

## Exercício 1: Criando um DataFrame Vazio

*   **Tarefa:** Crie um DataFrame vazio chamado `df_vazio` e, em seguida, imprima o seu tipo para confirmar que é um DataFrame.

In [3]:
df_vaizo = {
}
df_vaizo = pd.DataFrame(df_vaizo)
display(type(df_vaizo))

pandas.core.frame.DataFrame

---

## Exercício 2: Criando um DataFrame a partir de um Dicionário

*   **Tarefa:** Crie um dicionário Python chamado `dados_alunos` com as seguintes informações:
    *   `Nome`: ['Ana', 'Bruno', 'Carla']
    *   `Idade`: [20, 22, 19]
    *   `Curso`: ['Engenharia', 'Direito', 'Medicina']
    Em seguida, crie um DataFrame chamado `df_alunos` a partir deste dicionário e exiba-o.

In [4]:
dados_aluno = {
    'Nome': ['Ana', 'Bruno', 'Carla'],
    'Idade' : [20, 22, 19],
    'Curso' : ['Engenharia', 'Direito', 'Medicina']
}

df_aluno = pd.DataFrame(dados_aluno)
display(df_aluno)

    Nome  Idade       Curso
0    Ana     20  Engenharia
1  Bruno     22     Direito
2  Carla     19    Medicina

---

## Exercício 3 (Fácil): Salvando um DataFrame em CSV

*   **Tarefa:** Usando o DataFrame `df_alunos` criado no Exercício 2, salve-o em um arquivo CSV chamado `lista_alunos.csv`. Certifique-se de que o índice do DataFrame *não* seja incluído no arquivo CSV.

In [5]:
pd.DataFrame.to_csv(df_aluno, 'lista_alunos.csv', index= False)

---

## Exercício 4 (Fácil): Lendo um DataFrame de um CSV

*   **Tarefa:** Leia o arquivo `lista_alunos.csv` que você acabou de criar no Exercício 3 para um novo DataFrame chamado `df_alunos_lido` e exiba-o.

In [6]:
df_alunos_lido = pd.read_csv('lista_alunos.csv')

display(df_alunos_lido)

    Nome  Idade       Curso
0    Ana     20  Engenharia
1  Bruno     22     Direito
2  Carla     19    Medicina

---

## Exercício 5 (Médio): Salvando um DataFrame em Excel

*   **Tarefa:** Use o DataFrame `df_alunos` (do Exercício 2) e salve-o em um arquivo Excel chamado `lista_alunos.xlsx`. Novamente, não inclua o índice no arquivo.
*   **Nota:** Requer a biblioteca `openpyxl` instalada (`pip install openpyxl`).

In [7]:
df_aluno.to_excel('lista_alunos.xlsx', index= False)

---

## Exercício 6 (Médio): Lendo um DataFrame de um Excel

*   **Tarefa:** Leia o arquivo `lista_alunos.xlsx` criado no Exercício 5 para um novo DataFrame chamado `df_alunos_excel` e exiba-o.
*   **Nota:** Requer a biblioteca `openpyxl` instalada.

In [8]:
df_alunos_excel = pd.read_excel('lista_alunos.xlsx')

display(df_alunos_excel)

    Nome  Idade       Curso
0    Ana     20  Engenharia
1  Bruno     22     Direito
2  Carla     19    Medicina

---

## Exercício 7 (Médio): Inspeção Básica do DataFrame

*   **Tarefa:** Usando o DataFrame `df_alunos_excel` (lido no Exercício 6), realize as seguintes inspeções:
    1.  Exiba as primeiras 2 linhas do DataFrame.
    2.  Exiba os nomes de todas as colunas.
    3.  Mostre quantas linhas e colunas o DataFrame possui.

In [9]:
display(df_alunos_excel[0:2])
print('-'* 30)

display(df_alunos_excel.columns)

print('-'* 30)



display(df_alunos_excel.shape[0])

    Nome  Idade       Curso
0    Ana     20  Engenharia
1  Bruno     22     Direito

------------------------------

Index(['Nome', 'Idade', 'Curso'], dtype='object')

------------------------------

3

---

## Exercício 8 (Médio): Selecionando uma Coluna Específica

*   **Tarefa:** A partir do DataFrame `df_alunos_excel`, selecione e exiba apenas a coluna 'Curso'.

In [10]:
df_alunos_excel_2 = df_alunos_excel['Curso']
df_alunos_excel_2 = pd.DataFrame(df_alunos_excel_2)

display(df_alunos_excel_2)

        Curso
0  Engenharia
1     Direito
2    Medicina

---