In [1]:
! pip install pymysql
! pip install pandas
! pip install sqlalchemy

Requirement already satisfied: pymysql in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from sqlalchemy) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from sqlalchemy) (4.13.2)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:

import sqlalchemy
import pandas as pd

logim_banco = 'toor'
senha_banco = '#Suporte%402025'
seervidor = '10.86.198.43'
porta = '3306'
banco = 'GUSTAVO'

# String de conexão com banco de dados 

conexao = sqlalchemy.create_engine(f'mysql+pymysql://{logim_banco}:{senha_banco}@{seervidor}:{porta}/{banco}', echo=True)
conexao2 = sqlalchemy.create_engine('sqlite:///teste.db')

In [16]:
df_olipici = pd.read_csv('athlete_events.csv', sep=',')
display(df_olipici)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [17]:
df_olipici.to_sql('athlete_events',con= conexao, if_exists= 'replace', index= False)

2025-05-06 20:18:21,003 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-05-06 20:18:21,004 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 20:18:21,006 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-05-06 20:18:21,006 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 20:18:21,007 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-05-06 20:18:21,008 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 20:18:21,009 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-06 20:18:21,034 INFO sqlalchemy.engine.Engine DESCRIBE `gustavo`.`athlete_events`
2025-05-06 20:18:21,034 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 20:18:21,037 INFO sqlalchemy.engine.Engine
CREATE TABLE athlete_events (
	`ID` BIGINT,
	`Name` TEXT,
	`Sex` TEXT,
	`Age` FLOAT(53),
	`Height` FLOAT(53),
	`Weight` FLOAT(53),
	`Team` TEXT,
	`NOC` TEXT,
	`Games` TEXT,
	`Year` BIGINT,
	`Season` TEXT,
	`City` TEXT,
	`Sport` TEXT,
	`Event` TEXT,
	`Medal` TEXT
)


2025-05-06 20:18:21,038 INFO sqlalchemy.engine.Engine [no key 0.00033s] {}
2025-05-06 20:18:22,726 INFO sqlalchemy.engine.Engine INSERT INTO athlete_events (`ID`, `Name`, `Sex`, `Age`, `Height`, `Weight`, `Team`, `NOC`, `Games`, `Year`, `Season`, `City`, `Sport`, `Event`, `Medal`) VALUES (%(ID)s, %(Name)s, %(Sex)s, %(Age)s, %(Height)s, %(Weight)s, %(Team)s, %(NOC)s, %(Games)s, %(Year)s, %(Season)s, %(City)s, %(Sport)s, %(Event)s, %(Medal)s)
2025-05-06 20:18:22,726 INFO sqlalchemy.engine.Engine [generated in 1.33863s] [{'ID': 1, 'Name': 'A Dijiang', 'Sex': 'M', 'Age': 24.0, 'Height': 180.0, 'Weight': 80.0, 'Team': 'China', 'NOC': 'CHN', 'Games': '1992 Summer', 'Year': 1992, 'Season': 'Summer', 'City': 'Barcelona', 'Sport': 'Basketball', 'Event': "Basketball Men's Basketball", 'Medal': None}, {'ID': 2, 'Name': 'A Lamusi', 'Sex': 'M', 'Age': 23.0, 'Height': 170.0, 'Weight': 60.0, 'Team': 'China', 'NOC': 'CHN', 'Games': '2012 Summer', 'Year': 2012, 'Season': 'Summer', 'City': 'London', 'Sport': 'Judo', 'Event': "Judo Men's Extra-Lightweight", 'Medal': None}, {'ID': 3, 'Name': 'Gunnar Nielsen Aaby', 'Sex': 'M', 'Age': 24.0, 'Height': None, 'Weight': None, 'Team': 'Denmark', 'NOC': 'DEN', 'Games': '1920 Summer', 'Year': 1920, 'Season': 'Summer', 'City': 'Antwerpen', 'Sport': 'Football', 'Event': "Football Men's Football", 'Medal': None}, {'ID': 4, 'Name': 'Edgar Lindenau Aabye', 'Sex': 'M', 'Age': 34.0, 'Height': None, 'Weight': None, 'Team': 'Denmark/Sweden', 'NOC': 'DEN', 'Games': '1900 Summer', 'Year': 1900, 'Season': 'Summer', 'City': 'Paris', 'Sport': 'Tug-Of-War', 'Event': "Tug-Of-War Men's Tug-Of-War", 'Medal': 'Gold'}, {'ID': 5, 'Name': 'Christine Jacoba Aaftink', 'Sex': 'F', 'Age': 21.0, 'Height': 185.0, 'Weight': 82.0, 'Team': 'Netherlands', 'NOC': 'NED', 'Games': '1988 Winter', 'Year': 1988, 'Season': 'Winter', 'City': 'Calgary', 'Sport': 'Speed Skating', 'Event': "Speed Skating Women's 500 metres", 'Medal': None}, {'ID': 5, 'Name': 'Christine Jacoba Aaftink', 'Sex': 'F', 'Age': 21.0, 'Height': 185.0, 'Weight': 82.0, 'Team': 'Netherlands', 'NOC': 'NED', 'Games': '1988 Winter', 'Year': 1988, 'Season': 'Winter', 'City': 'Calgary', 'Sport': 'Speed Skating', 'Event': "Speed Skating Women's 1,000 metres", 'Medal': None}, {'ID': 5, 'Name': 'Christine Jacoba Aaftink', 'Sex': 'F', 'Age': 25.0, 'Height': 185.0, 'Weight': 82.0, 'Team': 'Netherlands', 'NOC': 'NED', 'Games': '1992 Winter', 'Year': 1992, 'Season': 'Winter', 'City': 'Albertville', 'Sport': 'Speed Skating', 'Event': "Speed Skating Women's 500 metres", 'Medal': None}, {'ID': 5, 'Name': 'Christine Jacoba Aaftink', 'Sex': 'F', 'Age': 25.0, 'Height': 185.0, 'Weight': 82.0, 'Team': 'Netherlands', 'NOC': 'NED', 'Games': '1992 Winter', 'Year': 1992, 'Season': 'Winter', 'City': 'Albertville', 'Sport': 'Speed Skating', 'Event': "Speed Skating Women's 1,000 metres", 'Medal': None}  ... displaying 10 of 271116 total bound parameter sets ...  {'ID': 135571, 'Name': 'Tomasz Ireneusz ya', 'Sex': 'M', 'Age': 30.0, 'Height': 185.0, 'Weight': 96.0, 'Team': 'Poland', 'NOC': 'POL', 'Games': '1998 Winter', 'Year': 1998, 'Season': 'Winter', 'City': 'Nagano', 'Sport': 'Bobsleigh', 'Event': "Bobsleigh Men's Four", 'Medal': None}, {'ID': 135571, 'Name': 'Tomasz Ireneusz ya', 'Sex': 'M', 'Age': 34.0, 'Height': 185.0, 'Weight': 96.0, 'Team': 'Poland', 'NOC': 'POL', 'Games': '2002 Winter', 'Year': 2002, 'Season': 'Winter', 'City': 'Salt Lake City', 'Sport': 'Bobsleigh', 'Event': "Bobsleigh Men's Four", 'Medal': None}]
2025-05-06 20:18:31,097 INFO sqlalchemy.engine.Engine COMMIT

271116