In [6]:
! pip install pymysql
! pip install pandas
! pip install sqlalchemy

Requirement already satisfied: pymysql in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from sqlalchemy) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\fic-ti especifico\documents\gustavo\gustavo\.venv\lib\site-packages (from sqlalchemy) (4.13.2)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import sqlalchemy
import pandas as pd

logim_banco = 'toor'
senha_banco = '#Suporte%402025'
seervidor = '10.86.198.43'
porta = '3306'
banco = 'GUSTAVO'

# String de conex√£o com banco de dados 

conexao = sqlalchemy.create_engine(f'mysql+pymysql://{logim_banco}:{senha_banco}@{seervidor}:{porta}/{banco}', echo=True)
conexao2 = sqlalchemy.create_engine('sqlite:///teste.db')

In [ ]:
df_arquivo = pd.read_csv('arquivo.csv',sep= ',')
display(df_arquivo)

         Date  Temperatura Classification
0  2020-01-01         29.1         Quente
1  2020-02-01         31.2   Muito Quente
2  2020-03-01         28.5         Quente
3  2020-04-01         88.0         Quente
4  2020-05-01         24.0    Confprtavel

In [ ]:
df_arquivo.to_sql('Clima', con= conexao, if_exists= 'replace', index= False) # substitui a tabela se j√° existir

2025-05-06 20:50:29,647 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-06 20:50:29,649 INFO sqlalchemy.engine.Engine DESCRIBE `gustavo`.`Clima`
2025-05-06 20:50:29,650 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 20:50:29,665 INFO sqlalchemy.engine.Engine DESCRIBE `gustavo`.`Clima`
2025-05-06 20:50:29,665 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 20:50:29,670 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `gustavo`
2025-05-06 20:50:29,671 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 20:50:29,676 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `gustavo`
2025-05-06 20:50:29,677 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 20:50:29,681 INFO sqlalchemy.engine.Engine COMMIT

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(mysql+pymysql://toor:***@10.86.198.43:3306/GUSTAVO): (Clima)